{% extends 'base.html.twig' %}

{% block title %}Editar tarea{% endblock %}

{% block body %}
    <h1>Editar tarea</h1>
    
    {% include 'comunes/_mensajes.html.twig' %}

    {% include 'tarea/_formulario.html.twig' with {'accion': path('app_editar_tarea_servicio', {'id': tarea.id}), 'etiqueta_btn_enviar': 'Editar'} %}
{% endblock %}
